<div class="currentEvent container-fluid clearfix mt-5">
    <div>
        <div class="curEvHeader clearfix text-center">
            <h2 class="pt-5">Current Event</h2>
            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">EVENT</button></div>
        </div>
        <div class="curEvInfo row mt-3 mb-5 ml-0 mr-0">
            <div class="curEvTime col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <span class="curEvIcon">ICON</span>
                <h4>TITLE</h4>
                <p>TIME</p>
            </div>
            <div class="curEvLocation col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <span class="curEvIcon">ICON</span>
                <h4>TITLE</h4>
                <p>Location</p>
            </div>
            <div class="curEvContact col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <span class="curEvIcon">ICON</span>
                <h4>TITLE</h4>
                <p>Contact</p>
            </div>
        </div>
    </div>
</div>
