<div class="events container clearfix mb-5 mt-5">
    <div>
        <!--    js function to only show the 3 upcoming events -->
        <h2 class="eventsTitle text-center">Upcoming events</h2>
        <div class="event col-12 col-sm-12 col-md-4 col-lg-4 float-left">
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
            <div class="eventInfo text-center">
                <h2>HEADER HERE</h2>
                <span class="eventDates"></span>
                <p>TEXT HERE EXCERPT</p>
            </div>
        </div>
        <div class="event col-12 col-sm-12 col-md-4  col-lg-4 float-left">
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
            <div class="eventInfo text-center">
                <h2>HEADER HERE</h2>
                <span class="eventDates"></span>
                <p>TEXT HERE EXCERPT</p>
            </div>
        </div>
        <div class="event col-12 col-sm-12 col-md-4  col-lg-4 float-left">
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
            <div class="eventInfo text-center">
                <h2>HEADER HERE</h2>
                <span class="eventDates"></span>
                <p>TEXT HERE EXCERPT</p>
            </div>
        </div>
    </div>
</div>
