<!--background image-->
<div class="getConnected container-fluid clearfix mt-5 mb-5">
    <div class="connection text-center pt-5">
        <div>
            <h2>Get Connected</h2>
            <h4>What's Your Next Step?</h4>
            <p>
                We’re all on a journey together and wherever you are in life, there's a next step you can take to better connect and grow in your faith. And we're here to help you along the way.
            </p>
        </div>
        <!-- Replace with loop-->
        <div class="buttons row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">primary</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">primary</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">primary</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">primary</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">primary</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-primary float-left mr-4">primary</button>
            </div>
        </div>
    </div>
</div>
