<div class='books container mt-5 mb-5 pb-5'>
    <!--    loop data -->
    <div class="row">
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>

        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
        <div class='book col-6 col-sm-6 col-md-4 col-lg-3 float-left mb-5'>
            <h3 class="bookTitle">TITLE HERE</h3>
            <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
        </div>
    </div>
</div>
