<div class="card">
    <div class="card-header navbar-toggler" data-toggle="collapse" data-target="#cvForm" aria-controls="cvForm" aria-expanded="false" aria-label="Toggle">
        <strong>Vehicle</strong>
        <small>Form</small>
    </div>

    <div class="card-body collapse navbar-collapse" id="cvForm">
        <div class="row">
            <div class="form-group col-md-3 col-sm-12">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" placeholder="2016">
            </div>
            <div class="form-group col-md-3 col-sm-12">
                <label for="maker">Maker</label>
                <input type="text" class="form-control" id="year" placeholder="Honda">
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" placeholder="CRV">
            </div>
        </div>
          <div class="form-group">
            <label for="liscensePlate">Liscense Plate</label>
            <input type="text" class="form-control" id="liscensePlate" placeholder="Liscense Plate">
        </div>
        
        <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input type="text" class="form-control" id="contactName" placeholder="Name for contact">
        </div>

        <div class="form-group">
            <label for="Phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="1234567890">
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" placeholder="Enter street name">
        </div>

        <div class="row">

            <div class="form-group col-sm-8">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter your city">
            </div>

            <div class="form-group col-sm-4">
                <label for="postal-code">Postal Code</label>
                <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
            </div>

        </div>
        <!--/.row-->

        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country name">
        </div>
    </div>
</div>
