<!--loop all ministry template-->
<div class="container-fluid mt-5 pb-5">
    <div class="container mt-5 mb-5">
        <!--        loop ministry info-->
        <div class="ministryInfo">
            <h2>MINISTRY TITLE</h2>
            <p>TEXT</p>
        </div>
        <!--        loop staffs has title in the ministry-->
        <div class="staffInfo row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
                <h4 class="text-center mt-2">staff1</h4>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
                <h4 class="text-center mt-2">staff2</h4>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img class="img-fluid" src="https://placeimg.com/640/480/any" alt="NAME HERE" />
                <h4 class="text-center mt-2">staff3</h4>
            </div>
        </div>
    </div>
</div>
