<div class="container-fluid mb-5 mt-5">

    <div class="row">
        <div class="gmap col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
                MAP HERE
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-right row">
            <div class="location col-12 col-sm-12 col-md-4 col-lg-4">
                address
            </div>
            <div class="serviceTime col-12 col-sm-12 col-md-4 col-lg-4">
                TIME
            </div>
            <div class="contactus col-12 col-sm-12 col-md-4 col-lg-4">
                EMAIL/PHONE
                <button type="button" class="btn btn-outline-secondary mr-4">email/phone icon</button>
            </div>
        </div>
    </div>
</div>
